@page
@{
	ViewData["Title"] = "About Us";

}
<h1>@ViewData["Title"]</h1>
<br />
<p>
	Welcome to Gundam Store!

	For over a decade, we take pride in being your trusted source for Gunplas from the iconic Gundam series here in Brazil.
	Since the inception of our journey, our passion for these incredible mecha creations has driven us to provide our customers
	with an exceptional experience of building, collecting, and diving into the exciting world of Gundam.
</p>
<br />
<img class="img-resize" src="images/gundam-About-us.webp" />

