@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to our store!</h1>
    <br />
    <img src="images/gundam-header.webp" />
    
</div>
