@page
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>
    Privacy Policy

    At Gundam Store, we respect and value your privacy. 
    This privacy policy explains how we collect, use, protect, and share the personal information you provide to us. 
    By browsing and shopping on our website, you agree to the terms described in this policy.
    We want to ensure that you understand how your information is treated and how we protect it.
</p>
<br />
<img class="img-resize" src="images/gundam_privacy.webp" />
